/* 메인 / 프로필 페이지 외 메뉴 상단 여백 CSS */
.con_sub {
    padding-top:60px;
}

/* 공통 CRUMBS 및 CONTAINER CSS  */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container:before,
.container:after,
.item-row:before,
.item-row:after {
    display: table;
    content: " ";
}

.container:after,
.item-row:after {
    clear: both;
}

@media all and (max-width:420px) {
    .hidden-xs {
        display: none !important;
    }
}

@media all and (min-width: 770px) {
    .container {
        width: 750px;
    }
}

@media all and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.crumbs-title {
    background: url(../img/skin/crumb_line.jpg) left 49% repeat-x;
    padding: 30px 0;
    margin-bottom: 40px;
}

.page-title {
    float: left;
    font-size: 24px;
    line-height: 1.1;
    color: #494949;
    margin: 3px 0;
}

.page-title > span {
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

.page-crumbs {
    float: right;
    line-height: 1.1;
    font-weight: 400;
    margin: 9px 0;
}

.page-crumbs ul {
    list-style: none;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

.page-crumbs ul > li {
    display: inline-block;
    color: #494949;
    font-size: 12px;
}

.page-crumbs ul > li a {
    color: #797979;
}

.page-crumbs ul > li a:hover {
    color: #292929;
    text-decoration: none;
}

.page-crumbs ul > li + li:before {
    content: ">";
    padding-right: 5px;
    font-size: 12px;
}


/* 반응형 이미지 설정 */

.responsive-img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #898989;
}

.responsive-basic {
    display: block;
    width: 100%;
    height: auto;
}

@media all and (max-width:480px) {
    .responsive-img {
        max-width: 270px;
    }
}

/* RESUME CSS */

.con_profile #cSub {
    width:100%; 
    background-color:#ffdd6a;
    position: relative;
}

.inner_banner{
    width: 100%;
    height: 450px;
    background:url(../img/resume/resume_bg.jpg) no-repeat 50% 0 #303133;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.resume_inner p {
	position:absolute;
	bottom:70px;
	color:#fff;
	font-weight:400;
	font-size:35px;
	z-index:20;
	text-shadow: 0px 0px 5px #333;
    padding: 0 10px;
}

.item-list.profile {
    background-color: #fff;
}

.item-list {
    padding-bottom: 30px;
}

.item-list.edu,
.item-list.abil {
    background-color: #f9f9f9;
}

.item-title {
    display: inline-block;
    color: #393939;
    border-bottom: 5px solid #ffdd6a;
    font-size: 23px;
    font-weight: 600;
    height: 29px;
    margin: 20px 15px 0;
}

.item-title i {
    padding-left: 15px;
}

.item-row {
    margin-right: -15px;
    margin-left: -15px;
}

.item-wrap {
    padding: 20px 0;
}

.item-wrap:after,
.item-wrap:before {
    display: table;
    content: '';
    clear: both;
}

.item-wrap .img_profile {
    margin-top: 10px;
    padding-top: 20px;
}

.item-wrap .img_profile p {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    color: #494949;
}

.item-wrap .edit-qus {
    margin: 0 auto;
    padding: 15px 0;
}

.item-wrap .edit-qus p {
    margin: 5px 0;
    font-size: 13px;
}

.item-wrap .edit-qus p>span {
    font-weight: 600;
}

.item-wrap .txt_profile {
    width: 260px;
}

.item-wrap .txt_edu,
.item-wrap .txt_lise,
.item-wrap .txt_abil {
    width: 400px;
}

.rota-i {
    color: #494949;
    font-size: 12px;
    margin-right: 8px;
    transform: rotate(-45deg);
}

.jqbar.horizontal span {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #494949;
}

.jqbar.horizontal .bar-percent {
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    margin-bottom: 5px;
}

@media all and (max-width:770px) {
   .inner_banner {
        height: 300px;
    }
    .resume_inner p {
        font-size: 25px;
    }
}

@media all and (max-width:480px) {
   .inner_banner {
        height: 250px;
    }
    .resume_inner p {
        font-size: 18px;
    }
    .resume_inner p .mnodis {
        display: none;
    }
    .item-title {
        margin: 20px 25px 0;
    }
    .item-wrap .txt_edu,
    .item-wrap .txt_lise,
    .item-wrap .txt_abil {
        width: 290px;
    }
    .item-wrap .edit-qus p>span {
        display: block;
        font-size: 15px;
        margin: 15px 0 5px;
    }
    .item-wrap .wrap-title {
        font-size: 18px;
        text-align: center;
        display: block;
    }
    .item-wrap .img_profile p {
        font-size: 15px;
    }
}


/* PORTFOLIO CSS */

.img-list {
    padding: 0 30px;
}

.folioWrap li {
    margin-bottom: 25px;
}

.item-folio {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.item-border {
    border: 1px solid #e3e3e3;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(100, 100, 100, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(100, 100, 100, .2);
}

.liThumb {
    width: 100%;
    height: 240px;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.liThumb#superga {
    background-image: url("../img/portfolio/superga_thumb.jpg");
}

.liThumb#kerasys {
    background-image: url("../img/portfolio/kerasys_thumb.jpg");
}

.liThumb#qinin {
    background-image: url("../img/portfolio/qinin_thumb.jpg");
}

.liThumb#hntc {
    background-image: url("../img/portfolio/hntc_thumb.jpg");
}

.liThumb#cds {
    background-image: url("../img/portfolio/cds_thumb.jpg");
}

.liContants {
    width: 85%;
    margin: 36px auto 20px auto;
}

.liContants .liContitle {
    color: #595959;
    font-weight: 600;
    font-size: 15px;
    display: block;
    letter-spacing: -1px;
}

.liContitle a:hover {
    text-decoration: none;
}

.liContants p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    padding-top: 10px;
    line-height: 200%;
    min-height: 100px;
    letter-spacing: -1px;
}

.liContants hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    clear: both;
}

.liContants .edit_project {
    font-size: 11px;
    color: #696969;
}

.edit_project .title {
    margin-right: 15px;
    font-size: 12px;
}

/* port index work step*/

.step-wrap {
    width:100%;
    background-color:#f0f0f0;
}

.step-title {
    font-size:24px;
    text-align: center;
    margin:10px 0;
    color:#FF5200;
}

.step-cont .step-ment {
    font-size:14px;
    text-align: center;
    margin:0 0 15px;
}

.step-cont .stepLi {
    display:inline-block;
	padding:30px 0px;
	width:100%;
}

.stepLi i{
    font-size:60px;
    width:100%;
    text-align: center;
}

.stepLi span {
    clear:both;
    display: block;
	width:100%;
	font-size:16px;
	color:#494949;
	padding-top:15px;
	font-weight:700;
	letter-spacing:0px;
    text-align: center;
}

.stepLi > li > p {
    font-size:13px;
    margin-top:15px;
    color:#696969;
    letter-spacing: -2px;
}

@media all and (min-width:992px) {
    .size_4 {
        float: left;
        width: 33.33333333%;
    }
    .size_3 {
        float:left;
        width:25%;
    }
}

@media all and (max-width:320px) {
    .liContitle .ENGname {
        display: block;
        font-size:13px;
    }
}

/* PORTFOLIO SUPERGA CSS */

.suprega .ENGname {
    font-size:17px;
    color:#001442;
}

.explain-area {
    padding-left:15px;
    padding-right: 15px;
    margin-top:20px;
    margin-bottom:20px;
}
.area-title {
    margin:10px 0;
    font-size:18px;
    display: inline-block;
    font-weight: 600;
    color:#494949;
}

.area-title i {
   padding-right:8px;  
}

.area-text {
    padding:10px 0;
}

.area-text p {
    padding-top:12px;
    font-size:14px;
    color:#393939;
}

.area-text p > .txt-title {
    font-weight: 600;
}

.visual-area {
    width:100%;
    background-color:#ffdd6a;
    position: relative;
}

.visual-area .visualIMGTitle {
	position:absolute;
	z-index:10;
	left:0;
	height:100%;
	width:100%;
	max-width:1170px;
    margin-left:300px;
}

.visual-area .visualIMGTitle > h3{
 	position:absolute;
	bottom:25px;
	color:#fff;
	font-weight:400;
	font-size:35px;
	z-index:20;
	text-shadow: 0px 0px 5px #333;   
}

.visual-div {
    position:relative;
	height:400px;
	display:inline-block;
	background:url("../img/portfolio/superga/superga_visual1.jpg") no-repeat;
	background-size:cover;
	background-position:center center;
}

@media all and (min-width:770px){
.visual-wid {
    width:66.66666667%;
    float: left;
    }
}


.area-colorChip {
    width:100%;
    padding-top:20px;
}

.area-colorChip dl {
    width:100%;
}
.area-colorChip dt {
    clear: both;
    float: left;
    width: 70px;
    padding-top: 17px;
    font-size:13px;
    color:#494949;
    font-weight: 600;
}

.area-colorChip dd {
    float: left;
    width: 80%;
    padding-top: 15px;
}

.area-colorChip dd p {
    float: left;
    width: 70px;
    font-weight: 500;
    color: #ffdd6a;
    padding:0 0 0 25px;
}

.area-colorChip div {
    width: 110px;
    height: 25px;
    float: left;
}

div.main-sup {
    background-color:#333;
}

div.impact-sup {
    background-color:#000e46;
}

div.sub-sup {
    background-color:#777;
}

.contWrap h4 {
    font-size:16px;
    padding:25px 0;
    display: inline-block;
    color:#696969;
}


.conItem {
    padding:25px 0;
}

.conItem img{
    max-width:300px;
    margin:0 auto;
    padding-bottom: 8px;
    border-bottom:5px solid #ffdd6a;
}

.conItem p {
    display: block;
    font-size:13px;
    text-align: center;
    padding:10px 0;
}

.conItem .mockupLi,
.conItem .mockupName {
    padding:0;
    width:100%;
}

.mockupLi li{
    float: left;
    width: calc(16% - 10px);
    margin-right: 20px;
    text-align: center;
}

.mockupLi li:last-child,
.mockupName li:last-child {
    margin-right:0;
}

.mockupLi li img {
    width:100%;
    height:auto;
    max-width:200px;
    border-radius: 0;
}

.mockupName li{
    float: left;
    width: calc(33% - 11px);
    margin-right: 20px;
    text-align: center;
    font-size:13px;
    padding:10px 0;
}

