#sContainer{width: calc(93.6% - 20px); height: 320vw;/*1450px*/  padding: 0 2vw; margin: 0 auto; 
    .aside{width: 15vw; height: 15vw;  margin-top: 2vw;  position:fixed; z-index: 500; top:14vw; left: 5.8vw;
        >h2{width: 14vw; height: 6.5vw;  color:#666; font-family: arial;
                font-size: 2.2vw; text-align: left; line-height: 7vw; text-indent: 1vw;
                border-bottom:$line2;}
        >ul{width: 14vw; height: 12vw;
            >li{width: 100%; height: calc(70% / 2);  box-sizing: border-box; text-align: left; line-height: 4vw; text-indent: 1vw;
                    border-bottom:$line2; 
                    &:nth-child(2) a>i{margin-top: 1.3vw;}
                >a{width: 100%; height: 100%; font-size: 1.5vw; font-family: arial; transition: all 0.5s;
                    &:hover{ color:#081baf; text-decoration: none;   
                        >i{color:#081baf; text-decoration: none; transform: translateX(10px);}
                    }// a:hover
                    >i{width: 2vw; height: 2vw;font-size: 1.5vw; float: right; margin-top: 1.4vw;  transition: all 0.5s;
                    }// i
                }// a
            }// li
        }// ul
    }// .aside
    .textBox{width: 60vw;  height: 45vw;  margin-top:2vw; margin-left: 22vw; border-bottom:$line2;
        >h2{width: 60vw; height: 4vw; font-size: 2vw;  font-family: 'arial'; border-bottom:$line2;}
        >h3{width: 15vw; height: 5vw; font-family: arial; font-size: 1.7vw;  margin-top: 2vw; font-style: italic;}
        >p{width: 60vw; height: 30vw;  font-size: 1.5vw;}
    }// .tBox
    .dlBox{@include box($w:60vw,$h:48vw,$f:"subimg/sub_back",$p:bottom); background-size: 100%;   
                    margin-top:4vw; margin-left: 22vw; border-radius: 1%; border-bottom:$line2;
        >h3{width: 15vw; height: 5vw; font-family: arial; font-size: 1.7vw;  margin-top: 2vw; font-style: italic;}
        >dl{margin-left: 1vw;
            >dt{width: 13.54vw;font-family: 'Malgun Gothic';  font-weight: bold; font-style: italic; float: left; 
                    color:#666; font-size: 1.5vw}
            >dd{width: 53.33vw;font-family: 'Malgun Gothic'; font-size: 1.3vw}
        }
            .hBox{margin-top: 20vw;@include box($w:60vw,$h:200vw,$f:"article/story_banner",$t:".jpg",$p:center); background-size: 100%; }
    }// .dlBox
}// #sContainer


