#sContainer{width: calc(93.6% - 20px); height:60vw;/*1450px*/  padding: 0 2vw; margin: 0 auto;
    
    .tableBox{width: 60vw; height: 40vw;  margin-left: 18vw; margin-top: 4vw;
        h2{width: 100%; height: 4.16vw;  text-indent: 1.041vw;
                font-family: "arial"; font-size: 3vw; border-bottom: $line2;}
    >form {width: 90%; height: 30vw; margin-top: 5.208vw; margin-left: 3.125vw;}// form
        fieldset {
        width: calc(100% - 0.83vw);  height: auto;
        padding-left: 0.8vw;
        border-bottom: $line2; padding-bottom: 1.5625vw; margin-bottom: 2.5vw;
        &.join_01{}
        &.join_02{
            .dataBox_02>dl>dd{width: 37.5vw; height:100%; float: left; 
                                                    input{margin-left:1vw;}
                                                    input:nth-child(1){margin-left: 0;}
            }
        }
        >ul{width: 100%; height: 100%;
            >li{width: 100%; height: 3.125vw; margin-bottom: 1.041vw; 
                /*background-color: #aaa;*/
                dl{width: 100%; height: 100%; 
                >dt{width: 10.5vw; height:100%; margin-right: 1.5625vw; float: left;  text-align: left; line-height: 1.8625vw; }
                >dd:nth-of-type(1){width: 15.625vw; height:100%; float: left;  margin-right:  1.5625vw;}// dd
                >dd:nth-of-type(2){width: 18.75vw; height:100%; float: left; }// dd
            
                }// dl
            }// li
        }// ul  
    }// fieldset
    }// .tableBox
    fieldset{
    >ul>li>dl>dt{
/*        >i{width: 1.66vw; height: 2.083vw; float: left; display: block; 
            margin-left: 0.72916vw; margin-top:5px; }*/
        >label{width: 11.5vw; height: 2.083vw; margin-top: 0.52083vw; display: block; float: left;
            >span{font-family: "맑은 고딕"; font-size: 1.5vw;}

        }
    }// >ul>li>dl>dt
    >ul>li>dl>dd{ font-family: "맑은 고딕";
        &:nth-of-type(1){
            input{width: 100%; height: 100%; box-sizing: border-box; float: left; text-indent:1.041vw;
                        border-radius: 0.216vw; line-height: 3.125vw; font-size: 1.5vw;}
        }
        &:nth-of-type(2){
            button{width: 10.416vw; height: 100%; }
        }
    }//  >ul>li>dl>dd
 }// fieldset

// design

.joinBox_01{
    dd:nth-of-type(2){
        button{background-color: $sub3; border-radius: 0.52083vw; transition: all 0.5s; 
            >span{color:$white; line-height: 3.5vw; font-size: 1.5vw;}
        }
    }// dd:nth-of-type(2)
}// .joinBox_01

.joinBox_02{
    dd:nth-of-type(2){
    >span{width: 100%; height: 3.125vw; line-height:3.125vw; /*margin-top: 5px;*/ display: block;
                  font-family: "맑은 고딕"; font-size: 1.5vw;}
    }// dd:nth-of-type(2)
}// .joinBox_02

.joinBox_03{
    dd:nth-of-type(2){
    >span{width: 100%; height: 3.125vw; line-height:3.125vw; /*margin-top: 5px;*/ display: block;
                font-family: "맑은 고딕"; font-size: 1.5vw;}

    }// dd:nth-of-type(2)
}// .joinBox_03

// .join_01 

.dataBox_01{
    dd:nth-of-type(2){
         >span{width: 100%; height: 2.083vw; margin-top: 0.2083vw; display: block;
               font-family: "맑은 고딕"; font-size: 1.5vw;}
    }// dd:nth-of-type(2)
}// .dataBox_02

.dataBox_02{
    dd{ 
        input:nth-of-type(1){width: 8.375vw; height: 3.125vw; float: left;}
        input:nth-of-type(2){width: 9.41vw; height: 3.125vw; float: left;}
        input:nth-of-type(3){width: 9.41vw; height: 3.125vw; float: left;}
        >span{width: 1.0416vw; height: 0.1041vw; background-color: #cca; 
                    display: inline-block; float: left; border-top: 1px solid $black; 
                    margin-top: 1.5625vw; margin-left: 1.0416vw;}
    }// dd:nth-of-type(2)
}// .dataBox_03
    .btnBox1{width: 52.08vw; height: 3.125vw;  margin: 0 auto;
            button{width: 10.41vw; height: 3.125vw; background-color: $sub3; border-radius: 0.52vw; margin-left: 14.3229vw;
                &:nth-of-type(2){margin-left: 2.6041vw; background-color: #555;}
            >span{color:$white; line-height: 3.5vw; font-size: 1.5vw }
        }
    }
}// #sContainer