#sContainer{width: calc(93.6% - 20px); height: 195vw;/*1450px*/  padding: 0 2vw; margin: 0 auto; position: relative;
    #contect_01{width: 90vw; height: 27.81vw;   margin: 0 auto; margin-top: 6vw;
            >ul{width: 100%; height: 100%;
                >li{ float: left; }
            }
    .esome{width: 41.66vw; height: 27.81vw;  margin-left: 1.5vw;}
    .esome>a{@include box($w:100%, $h:100%,$f:"article/esome1"); border-radius: 1vw;  transition: all 0.5s ease; background-size: 100%}
    .esome>a:hover{border-radius: 1vw; opacity: 0.9;  transform:translate(2px); transition: all 0.5s ease;}
    .classic{width: 41.66vw; height: 27.81vw; margin-left: 4vw;}
    .classic>a{@include box($w:100%, $h:100%,$f:"article/Classic2"); border-radius: 1vw;  transition: all 0.5s ease; background-size: 100%;}
    .classic>a:hover{border-radius: 1vw;  opacity: 0.9;transform:translate(-2px); transition: all 0.5s ease;}
        }// #contect_01
    
    #contect_02{width: 87.4vw; height: 45.95vw;margin-top:4vw; margin-left: 1.5vw;}
    #contect_02>a{@include box($w:100%, $h:100%,$f:"article/esome3"); border-radius: 1vw;  transition: all 0.5s ease; background-size: 100%; }
    #contect_02>a:hover{opacity: 0.9; transform:translateY(2px); transition: all 0.5s ease;}
        // #contect_02
    #esomeGallery{width:100%; height: 83.33vw; margin-top: 8vw; border-top: 1px solid #ccc;
        >h2{width: 100%; height: 5vw; font-size: 2.2vw;  font-family: 'Malgun Gothic'; color:#555; text-align: center; margin-top: 1vw;}
        >ul{width: 100%; height: 100%; border:5px solid #fff; 
            >li{width: calc(100% / 3); height: 30%; border:5px solid #fff; float: left; box-sizing: border-box; transition: all 0.5s;
            &:nth-child(1){@include box($w:calc(100% / 3),$h:50%,$f:"article/1",$t:".jpg",$p:top center); background-size:100%;}
            &:nth-child(2){@include box($w:calc(100% / 3),$h:50%,$f:"article/2",$t:".jpg",$p:top center); background-size:100%;}
            &:nth-child(3){@include box($w:calc(100% / 3),$h:50%,$f:"article/3",$t:".jpg",$p:top center); background-size:100%;}
            &:nth-child(4){@include box($w:calc(100% / 3),$h:50%,$f:"article/4",$t:".jpg",$p:top center); background-size:100%;}
            &:nth-child(5){@include box($w:calc(100% / 3),$h:50%,$f:"article/5",$t:".jpg",$p:top center); background-size:100%;}
            &:nth-child(6){@include box($w:calc(100% / 3),$h:50%,$f:"article/6",$t:".jpg",$p:top center); background-size:100%;}
                &:hover{opacity: 0.8; transition: all 0.5s;}
                >a{width: 100%; height: 100%; display: block;
                >span{display: none;}
                }
            }
        }
    }// #esomeGallery
}// #sContainer