#sContainer{width: calc(93.6% - 20px); height: 170vw;/*1450px*/  padding: 0 2vw; margin: 0 auto;
    .textBox{width: 80vw;  height: 70vw;  margin-top:12vw; margin-left: 5vw; border-bottom: 1px solid #ccc;
        >h2{width: 80vw; height: 5vw; font-size: 3vw;  font-family: 'arial'; border-bottom: 1px solid #ccc;}
        >h3{width: 20vw; height: 5vw; font-family: arial; font-size: 2.7vw;  margin-top: 2vw; margin-left: 1vw; font-style: italic;}
        >p{width: 75vw; height: 30vw;  font-size: 2.5vw; margin-left: 1.5vw;}
    }// .tBox
    .dlBox{@include box($w:80vw,$h:70vw,$f:"subimg/sub_back",$p:bottom); background-size: contain;  
                    margin-top:4vw; margin-left: 5vw; border-radius: 1%; 
        >h3{width: 20vw; height: 5vw; font-family: arial; font-size: 2.7vw;  margin-top: 2vw; margin-left: 1vw; font-style: italic;}
        >dl{margin-left: 1.5vw;
            >dt{width: 17.54vw;font-family: 'Malgun Gothic';  font-weight: bold; font-style: italic; float: left;  
                    color:#666; font-size: 2.3vw}
            >dd{width: 77.33vw;font-family: 'Malgun Gothic'; font-size: 1.8vw; margin-top: 1.5vw;}
        }
        .bPage{width: 40vw; height: 5vw; margin: 0 auto; padding-top: 6vw;
            >ul{width: 100%; height: 100%;
                >li{width:calc(100% / 2); height: 100%; float: left; 
                    text-align: center; font-family: arial; font-size: 3.2vw; color:#222; transition: all 1s;
                    >a:hover{color:#ccc; text-decoration: none; transition: all 1s;}
                }
            }
        }
    }// .dlBox
}// #sContaine