#sContainer{width: calc(93.6% - 20px); height: 200vw;/*1450px*/  padding: 0 2vw; margin: 0 auto;
      .tableBox{width: 80vw; height: 160vw;  margin-left: 6vw; margin-top: 6vw;
        table{width: 100%; border:0;}
        tr{width: 100%;border-bottom:$line2; border-left: $line2;
            &:nth-of-type(1){border: $line2;}
            &:nth-of-type(1)>td a{width: 5vw; font-size: 3vw; color:$main; font-weight: bold; padding-right: 1vw;}
            &:nth-of-type(2)>td a{line-height: 5vw;}
            }// tr
        td{width: 60vw; height: auto;  padding:2vw 1vw;  text-indent: 1vw;  /*font-size:3vw;*/ padding-right: 0;
            >a{width: 3vw;height: 2vw; float: left;  display: block; font-size: 2vw; line-height: 2.2vw;
                &:hover{text-decoration: none; color:#ccc}
                &:nth-of-type(2){width: 13vw; text-indent: 2vw}
                &:nth-of-type(3){width: 6.5vw; text-indent:1.5vw}
                &:nth-of-type(4){width: 6.5vw; text-indent:1.5vw}
                }
            >span{ width: 2px; height: 2vw; display: block;  border-right: 1px solid #aaa; float:left; margin-left: 1vw; margin-top: 1.2vw;}
            >form{ width: 15.41vw; height: 4.08vw; float: right; margin-right: 1vw;
            >felidset{ width: 100%; height: 100%; 
                >select{ width:100%; height: 100%; font-size:1.2vw; border:$line2; /*padding:0 4%;*/ font-family: "arial";
                    >optgroup{width: 100%; height: 100%; 
                        >option{font-size: 2vw;}
                    }
                }// select
            }// felidset
        }// form
        }// td
    }// .tableBox
    
    #pContent{width: 100%; height: 160.83vw;  margin-top: 4vw;
        #photoBox{width: 100%; height: 156.45vw; /*background-color: #fa0; */
            >.prodLinewrap{width: 100%; height: 12.5vw; margin-bottom: 2vw;
                &:nth-child(2){
                    >ul
                        >li{
                        &:nth-child(1){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s5",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(2){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s6",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(3){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s7",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(4){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s8",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(5){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 5.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(5)
                        &:nth-child(6){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 5.208vw; text-align: center; font-size: 1.2vw; color:#555;  
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(6)
                        &:nth-child(7){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 5.208vw; text-align: center; font-size: 1.2vw; color:#555; 
                                &:nth-child(2){height: auto;margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(7)
                        &:nth-child(8){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 5.208vw; text-align: center; font-size: 1.2vw; color:#555;  
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// li>&:nth-child(8)
                        }
                    }// li:nth-child(2)
                &:nth-child(3){
                    >ul
                        >li{
                        &:nth-child(1){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s9",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(2){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s10",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(3){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s11",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(4){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s12",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(5){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 5.208vw; text-align: center; font-size:1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(5)
                        &:nth-child(6){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 5.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(6)
                        &:nth-child(7){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 5.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(7)
                        &:nth-child(8){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 5.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; qmargin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(8)
                        }// li> &:nth-child(3)
                    }// li:nth-child(3)
                &:nth-child(4){
                    >ul
                        >li{
                        &:nth-child(1){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s13",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(2){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s14",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(3){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s15",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(4){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s16",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(5){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;  
                                &:nth-child(2){height:auto; margin-top: 1.5625vw; border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(5)
                        &:nth-child(6){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;  
                                &:nth-child(2){height:auto; margin-top: 1.5625vw; border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(6)
                        &:nth-child(7){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;  
                                &:nth-child(2){height:auto; margin-top: 1.5625vw; border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(7)
                        &:nth-child(8){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;  
                                &:nth-child(2){height:auto; margin-top: 1.5625vw; border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(8)
                        }// li > nth-child 4
                    }// li:nth-child(4)
                &:nth-child(5){
                    >ul
                        >li{
                        &:nth-child(1){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s17",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(2){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s18",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(3){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s19",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(4){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s20",$t:".jpg",$p:top center); background-size:100%;}
                         &:nth-child(5){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(5)
                        &:nth-child(6){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(6)
                        &:nth-child(7){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(7)
                        &:nth-child(8){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(8)
                        }// li > &:nth-child(5)                
                    }// li:nth-child(5)
                &:nth-child(6){
                    >ul
                        >li{
                        &:nth-child(1){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s21",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(2){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s22",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(3){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s23",$t:".jpg",$p:top center); background-size:100%;}
                        &:nth-child(4){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s24",$t:".jpg",$p:top center); background-size:100%;}
                         &:nth-child(5){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw; border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(5)
                        &:nth-child(6){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(6)
                        &:nth-child(7){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(7)
                        &:nth-child(8){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(8)   
                        }                
                }// li:nth-child(6)
                >ul{width: 100%; height: 100%;
/*                    >span{width:calc(100% / 4); height: auto; display: block; float: left; text-align: center;
                                font-size: 0.8rem; color:#555; padding-bottom: 15px; border-bottom: $line2;
                                }*/
                    >li{width: calc(100% / 4); height: 100%; float: left; 
                        &:nth-child(1){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s1",$t:".jpg",$p:center); background-size:100%;}
                        &:nth-child(2){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s2",$t:".jpg",$p:center); background-size:100%;}
                        &:nth-child(3){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s3",$t:".jpg",$p:center); background-size:100%;}
                        &:nth-child(4){@include box($w:calc(100% / 4) , $h:100%,$f:"mshoes/s4",$t:".jpg",$p:center); background-size:100%;}
                        &:nth-child(5){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(5)
                        &:nth-child(6){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(6)
                        &:nth-child(7){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top: 1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(7)
                        &:nth-child(8){width: calc(100% / 4); height: auto; float: left; 
                            >p{width:100%; height: 8.208vw; text-align: center; font-size: 1.2vw; color:#555;   
                                &:nth-child(2){height: auto; margin-top:1.5625vw;  border-bottom: $line2; padding-bottom:1.5625vw;}
                            }//p
                        }// &:nth-child(8)
                        >span{width: 0; height: 0; display: none;}
                    }// li:nth-child(1)
                }// ul
            }// .prodLinewrap
        }// .photoBox
        .lineBox{width: 31.25vw; height: 3.125vw; margin: 0 auto; padding-top: 2.083vw;
        >ul{width: 100%; height: 100%;
            >li{width:calc(31.25vw / 6); float: left; text-align: center;
                 &:nth-child(1)>a i:hover{transform:translateX(-10px);}
                &:nth-child(6)>a i:hover{transform:translateX(10px); }
                >a{line-height: 3.125vw; color:$black;
                    &:hover{color:#aaa; text-decoration: none}
                    >i{line-height: 3.125vw; transition: all 0.5s;}
                    }
                }
            }
        }// .lineBox
    }// .pContent
            .bPage{width: 40vw; height: 5vw; margin: 0 auto; padding-top: 5vw;
            >ul{width: 100%; height: 100%;
                >li{width:calc(100% / 3); height: 100%; float: left; 
                    text-align: center; font-family: arial; font-size: 3.2vw; color:#222; transition: all 1s;
                    >a:hover{color:#ccc; text-decoration: none; transition: all 1s;}
                }
            }
        }
}// #sContaine