
.scroll-up-button {
  display: none;
  position: fixed;
  bottom: 10vw;
  right: 4vw;
  width: 5vw;
  height: 5vw;
  border-radius: 10%;
  background-color: #fff;
  cursor: pointer;
    border: 1px solid #999;
    box-sizing: border-box;
  z-index: 500;
  font-size: 3vw;
  font-weight: bold;
  
  text-align: center;
  text-decoration: none;
    >i{ line-height: 4.5vw; text-align: center;}
  
  color: $black;
}