 #wrap{width: 960px; height: auto; margin: 0 auto;}
        #sHeader{width:100%;/*960px*/ height: 15.625vw;  
                        position: relative; /*border-bottom: 5px solid $sub1; */margin: 0 auto;
        h1{width: 12.10vw;  height: 7.33vw;
              position: absolute; z-index: 100; top: 4vw; left: 7vw; 
            >a{@include box($f:"nav/top_logo",$t:".jpg"); position: absolute; background-size: 100%;}
        }// h1
       >#gnb{width:71.125vw;/*100px*/ height: 9.62vw;  margin-left:5vw; position: absolute; top: 6.9vw; left: 18vw;
        >.main{width: calc(100% / 6); height: 50px;   float: left; 
            &:nth-child(2){width: 17%;}
            &:nth-child(3){width: 17%;margin-left: 1vw;}
            &:nth-child(4){margin-left: 1vw;}
            &:nth-child(5){width:7%; margin-left: 2.4vw;}
            &:nth-child(6){width:7%; margin-left: 2.4vw;}
            &:nth-child(6)>dd>ul>li{width:4vw; margin-left: 0.7vw;}
            >dt{width: 100%; height: 2.08vw; font-size:1.7vw; color:#444; cursor: pointer; 
                    font-family: 'arial'; font-weight: 300;transition: all 0.5s; text-align: center;
                    &:hover{color:#aaa; }
                }//li
            >dd{width: 100%; height: 15.625vw; /*padding-top:1vw;*/
                >ul{width: 100%; height: 100%; text-align: center; 
                    >li{width: 9.4vw; height: 10%;  font-size:1.2vw; margin-top: 0.8vw; color:#444; margin-left: 1vw;
                        font-family: 'arial'; cursor: pointer; 
                        >a{ transition: all 0.5s;
                            &:hover{text-decoration: none; color:#aaa;}
                        }
                    }//li
                }//ul
            }//dd
        }//ul
    }//#gnb
        >#tnb{width: 13.6vw;  height: 2.02vw;  position: absolute; z-index: 100; top: 1.6vw; right: 5vw;
            >ul{width: 100%; height: 100%;
                >li{width:48%; height: 70%; float: left; text-align: center; 
                    &:first-child{width:46%;
                        >a{float: left; }
                        >span{ width: 2px; height: 100%; float: left; display: block;  border-right: 1px solid #aaa ;margin-left: 1.4vw;}
                    }
                    &:last-child{/*margin-left: 0.5vw;*/ border-right: 0;}
                    >a{font-family: airal; font-size: 1.2vw; text-decoration: none; line-height: 1.2vw;
                        &:hover{color:#aaa;}
                    }
                }
            }
        }// #tnb
    }// #sHeader